page-recyclers {
    $colors: ( 
        primary: #009688,
        secondary: #00675b,
        danger: #f53d3d,
        light: #f4f4f4,
        dark: #222,
        vibrant: rebeccapurple,
        bright: #ffc125);
}